-# .image-container
%br
%br
%br
%br
%br
%br
%br
%br
%hr.line
=image_tag 'home-cover', class: 'home-cover'

.infos
  .row
    .col-md-4
      %h2 Le Chinese Business Club
      %p Développez votre réseau franco-chinois en devenant membre du Chinese Business Club. Véritable plateforme du lobbying, le Chinese Business Club réunit à Paris, politiques, diplomates, investisseurs, dirigeants et chefs d'entreprises français et chinois.
      %br
      %btn.btn.btn-lg.btn-block.btn-cbc Présentation
    .col-md-4
      %h2 Membres
      %p Développez votre réseau franco-chinois en devenant membre du Chinese Business Club. Véritable plateforme du lobbying, le Chinese Business Club réunit à Paris, politiques, diplomates, investisseurs, dirigeants et chefs d'entreprises français et chinois.
      %br
      %btn.btn.btn-lg.btn-block.btn-cbc Voir les membres
    .col-md-4
      %h2 Contact
      %p Développez votre réseau franco-chinois en devenant membre du Chinese Business Club. Véritable plateforme du lobbying, le Chinese Business Club réunit à Paris, politiques, diplomates, investisseurs, dirigeants et chefs d'entreprises français et chinois.
      %br
      %btn.btn.btn-lg.btn-block.btn-cbc Contactez-nous
