-# .image-container
%br
%br
%br
%br
%br
%br
%br
%br
=image_tag 'home-cover-2', class: 'home-cover'

.infos.home
  .row
    .col-md-8.col-md-offset-2
      %h2=t('cbc')
      %p{style: 'text-align:justify;'}=t('develop_network')
      %br
      %btn.btn.btn-lg.btn-cbc{style: 'margin-right:auto;margin-left:auto;display:block;width:initial;width:200px;'}=t('contact_us')
