=image_tag 'home-cover', class: 'home-cover'
.infos Chinese Business Club. Développez votre réseau franco-chinois en devenant membre du Chinese Business Club. Véritable plateforme du lobbying, le Chinese Business Club réunit à Paris, politiques, diplomates, investisseurs, dirigeants et chefs d'entreprises français et chinois.
