-# .image-container
%br
%br
%br
%br
%br
%br
%br
%br
=image_tag 'home-cover-2', class: 'home-cover'

.infos.home
  .row.golden_book
    .col-md-8.col-md-offset-2
      %h2=t('livre_dor')
      %p=t('nicolas_sarkozy')
      %br
      %br
      %p=t('mingpo_cai')
      %br
      %br
      %p=t('laurent_dassaut')
      %br
      %br
      %p=t('renaud_donnedieu_de_vabres')
      %br
      %br
      %p=t('roland_dumas')
      %br
      %br
      %p=t('louis_gallois')
      %br
      %br
      %p=t('robert_hossen')
      %br
      %br
      %p=t('jean_david_levitte')
      %br
      %br
      %p=t('li_li')
      %br
      %br
      %p=t('emmanuel_macron')
      %br
      %br
      %p=t('thierry_mariani')
      %br
      %br
      %p=t('frederic_mitterand')
      %br
      %br
      %p=t('jean_pierre_raffarin')
      %br
      %br
      %p=t('kai_song')
      %br
      %br
      %p=t('hsueh_sheng_wang')
      %br
      %br
      %p=t('qide_yu')
      %br
      %br
      %p=t('jian-fang_zhou')
  %br
  %br
  %br
  %br
