.infos{style:'margin-top:0px !important;'}
  .text
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %h1 Les articles de presse
    %br
    #gallery
      - Dir.glob("#{@source_path}/*.jpg").each do |press_image|
        = link_to image_tag('presse/' + File.basename(asset_path(press_image))), 'assets/presse/' + File.basename(press_image), rel: 'example1'
