=image_tag 'presentation', class: 'presentation-cover'
.infos
  %h1=t('who_we_are')
  .text.presentation
    .row
      .col-md-3.col-md-offset-1
        .owl-carousel
          - (1..69).each do |x|
            = image_tag x.to_s
      .col-md-6
        %p=t('about_cbc')
