.infos{style:'margin-top:0px !important;'}
  .text
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %h1=t('press_articles')
    %br
    #gallery
      - @articles.each do |press_article|
        = link_to image_tag(press_article.file), press_article.file.url, rel: 'example1'
    %br
    %br
    %br
    %h1=t('links')
    %ul
      - @links.each do |press_link|
        %li=link_to press_link.title, press_link.url, target: '_blank'
