/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
  text-align: center;
  .logo {
    text-align: center;
    padding-bottom: 35px;
    margin-bottom: 0;
    max-width: 100%;
    margin-top: 46px;
    border-bottom: 2px solid #e9e7df;
  }
  .menu_main {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
    li {
      float:left;
      position: relative;
      margin: 18px 18px;
      font-family: 'Open Sans';
    }
  }
}

.home-cover {
  // width: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.infos {
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Open Sans'
}

.text {
  img {
    height: 150px;
    // border: 1px solid #cccccc;
  }
}
