/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */
body {
  // background-color: ;
}

a {
  text-decoration: none;
  color:black;
}
a:hover {
  color: #D03832;
  text-decoration: none;
}

a:active {
  text-decoration: underline !important;
}

h2, h1 {
  font-family: 'Futura';
  text-align: center;
  margin-bottom: 20px;
}

hr.line {
  color: #D03832;
  background: #D03832;
  height: 1px;
  width: 35%;
  margin-bottom: 50px;
}
.content {
  // border: 1px solid black;
  font-family: Futura;
  font-size: 16px;
  width: 100%;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: justify;
  // background-color: #E6E5E5;
  p {
    // font-family: 'Futura';
    font-weight: lighter;
  }
}

header {
  text-align: center;
  .logo {
    // text-align: center;
    // padding-bottom: 35px;
    // margin-bottom: 0;
    // max-width: 100%;
    width: 200px;
    // margin-top: 46px;
    // border-bottom: 2px solid black;
    margin: 30px 0px 50px 50px;
    float: left;
  }
  .menu_main {
    // margin: 0;
    margin: 45px 50px 50px 50px;
    font-weight: lighter;
    font-size: 16px;
    float: right;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    text-align: left;
    li {
      float:left;
      position: relative;
      margin: 18px 18px;
      font-family: 'Open Sans';
    }
  }
}

.presentation-cover {
  width: 100%;
  // width: 80%;
  height: 345px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.home-cover {
  width: 100%;
  // width: 80%;
  // height: 345px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.infos {
  // width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: 'Open Sans';
  padding-left: 10px;
  padding-right: 10px;
}

.home {
  margin-top: 10px;
}

.text.membres {
  img {
    height: 150px;
    margin: 5px 5px 15px 5px;
    border: 1px solid #cccccc;
    // padding-left: 130px;
    padding-left: 75px;
    width: 300px;
    padding-right: 75px;
  }
}

.presentation {
  margin-left: 50px;
}

footer {
  padding: 50px 0 50px 0;
  background-color: #E6E5E5;
  margin-top: 50px;
}

.image-container {
  background-image: url('home-cover');
  background-size:cover;
  background-repeat:no-repeat;
  width:250px;
  height:250px;
  // margin-right:
}

.blank {
  background-color: white;
  height: 250px;
}

#gallery {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.harold {
  a {
    color:blue;
  }
}

.comite p {
  text-align: center;
}

.owl-item img {
  width: 278px;
}
