%footer
  %p{style: 'text-align:center;font-size:18px;'} Chinese Business Club
  %p{style: 'text-align:center;font-weight:bold;'}=link_to("Harold PARISOT", "https://fr.linkedin.com/in/haroldparisot", target: '_blank').html_safe
  %p{style: 'text-align:center;'} 23, Rue Balzac, 75008 Paris, FRANCE.
  %p{style: 'text-align:center;'} Copyright © 2015 Chinese Business Club
